body {
 /*    background: #1c252e; */
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
    font: 16px/1.5em "Open Sans", sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9aa1a7;
}

h2 {
    margin: 0;
    font: inherit;
  /*   color: #03a9f4; */
}

h2.title{
    text-align: center;
    font-weight: bold;
}

.container{
    width: 464px;
    margin: 3px;
}

.propName {
    width: 100px;
}

#color-palette {
    width: 640px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    float: left;
}

#color-palette .container {
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    float: left;
    transition: all 0.5s;
}

#color-palette .container > * {
    float: left;
}

#color-palette .palette {
    width: 456px;
    height: 38px;
    margin: 3px;
}

#color-palette .palette .sample {
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid transparent;
    float: left;
    transition: all 0.2s;
}

#color-palette .palette .sample:hover {
    cursor: pointer;
    border-color: #BBB;
    transform: scale(1.15);
    border-radius: 3px;
}


/* lock */
.lock {
	width: 24px;
    height: 24px;
    padding-top: 3;
    padding-left: 6;
	background-image: url('../icon/lock.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.lock:hover {
	background-position: bottom left;
}

.lock[locked-state='true'] {
	background-position: top left ;
}

.lock[locked-state='true']:hover {
	background-position: top right;
}
/* end lock */

.controls{
    display: inline-flex;
}

input[type=text]:true {
    background: #dddddd;
}

input[type=text]{
    background-color: rgba(57, 63, 84, 0.8);
    /* border: 1px #3F7FBF solid; */
    border-radius: 5px;
    padding: 5px;
    width: 100px;    
}

#save:hover,
#reset:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness);
    filter:brightness(50%);
}

.options{
    text-align: center;
}

.totalOpen{
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: 7px solid transparent;
    background: rgba(57, 63, 84, 1);
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0 auto;
}

#outer{
    margin-bottom: 10px;
}

.item {
    position:relative;
    padding-top:20px;
    margin: 0 auto;
}
.notify-badge{
    position: absolute;
    background: gray;
    text-align: center;
    color:white;
    width: 30px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10%;
    bottom: -10px;
    right: 190px;
}


/* checkbox */
.checkbox{
    position:relative;
    overflow:hidden;
    flex:none;
}
.checkbox label{
    width:24px;
    height:24px;
    border:1px rgba(0,0,0,0.4) solid;
    border-radius:3px;
    position:relative;
    display:block;
    cursor:pointer;
    background-color:rgba(216,216,216,0.4)
}
.checkbox label:after{
    display:none;
    content:'';
    position:absolute;
    top:4px;
    left:4px;
    color:#1fa469;
    width:14px;
    height:9px;
    border-bottom:solid 2px currentColor;
    border-left:solid 2px currentColor;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.checkbox input[type="checkbox"]{
    position:absolute;
    left:-9999px;
    opacity:0
}
.checkbox input[type="checkbox"]:checked+label:after{
    display:block
}

.checkbox label{
    border-color:rgba(255,255,255,0.1);
    background-color:rgba(255,255,255,0.03)
}
.checkbox label:after{
    color:#03a9f4
}

/* input txt */

.input{
    width:100%;
    background:rgba(0,0,0,0.03);
    box-shadow:none;
    outline:none;
    border:1px transparent solid;
    border-radius:3px;
    padding:0 15px;
    color:#000;
    font-size:12px;
    font-weight:400;
    transition:all 0.2s;
    -webkit-appearance:none;
    cursor:text
}
.input:hover{
    background-color:rgba(0,0,0,0.06)
}
.input:focus{
    border-color:#1fa469
}
.input::placeholder{
    color:rgba(0,0,0,0.4)
}

.input{
    border-color:rgba(255,255,255,0.1);
    background-color:rgba(255,255,255,0.06);
    color:#fff
}
.input:focus{
    border-color:#03a9f4;
    background-color:rgba(255,255,255,0.03)
}
.input::placeholder{
    color:rgba(255,255,255,0.4)
}

/* select */
select {
  -webkit-appearance: button;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid rgba(255,255,255,0.1);
  font-size: inherit;
  overflow: hidden;
  padding: 5px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #03a9f4;
  background-image: url('../icon/arrow.png'), -webkit-linear-gradient(#252736, #252736 40%, #252736);
  background-color: #252736;
  width: 200px;   
}

select#fontSizeSelector{
    width: 70px;
}

#alertCount{
    color: #03a9f4;
    background-color: #252736;
    width: 35px;
    border: 0px;
    margin-right: 5px;
}

#alertCheckbox{
    margin-left: 5px;
}

/* slider */
/* *, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } */
  
  .range-slider {
    width: 100%;
    display: unset;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #03a9f4;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #03a9f4;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  
  /* .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  } */
  
  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }